
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <label>Kategori Adını Giriniz</label>
        <input type="text" class="form-control" name="CategoryName" />
        <br />
        <button class="btn btn-info">Kategori Ekle</button>
    </form>
</div>
